Vagrantfile
.vagrant/
cookbooks/
tmp/
.DS_Store
out/
root/
*.coverprofile*
*.trace
.rootfs/
old/linux_backend/bin/repquota
old/linux_backend/skeleton/bin/*
old/linux_backend/skeleton/lib/hook
old/linux_backend/skeleton/lib/pivotter
scripts/amimgr/amimgr
scripts/awsreaper/awsreaper
garden-test-rootfs.tar
*.test
.idea/*
*.iml
