Vagrantfile
.vagrant/
cookbooks/
tmp/
.DS_Store
out/
root/
*.coverprofile*
*.trace
.rootfs/
linux_backend/bin/repquota
linux_backend/skeleton/bin/*
linux_backend/skeleton/lib/hook
linux_backend/skeleton/lib/proc_starter
pivotter
scripts/amimgr/amimgr
scripts/awsreaper/awsreaper
garden-test-rootfs.tar
*.test
.idea/*
*.iml
